useDynLib(MCMCpack)
import(coda)
import(MASS)

export(
       BayesFactor,
       choicevar,
       ddirichlet,
       dinvgamma,
       diwish,
       dnoncenhypergeom,
       dtomogplot,
       dwish,
       MCbinomialbeta,
       MCpoissongamma,
       MCnormalnormal,
       MCmultinomdirichlet,
       MCMCdynamicEI,
       MCMCfactanal,
       MCMChierEI,
       MCMCirt1d,
       MCMCirtKd,
       MCMCirtKdRob,
       MCMClogit,
       MCMCmetrop1R,
       MCMCmixfactanal,
       MCMCmnl,
       MCMCoprobit,
       MCMCordfactanal,
       MCMCpanel,
       MCMCpoisson,
       MCMCprobit,
       MCMCregress,
       MCMCSVDreg,
       MCMCtobit,
       PostProbMod,
       procrustes,
       rdirichlet,
       read.Scythe,
       rinvgamma,
       riwish,
       rnoncenhypergeom,
       rwish,
       tomogplot,
       vech,
       write.Scythe,
       xpnd
       )


S3method(print, BayesFactor)
S3method(summary, BayesFactor)
