useDynLib(MCMCpack)
import(coda)
import(MASS)
import(stats)

export(
       BayesFactor,
       choicevar,
       ddirichlet,
       dinvgamma,
       diwish,
       dnoncenhypergeom,
       dtomogplot,
       dwish,
       HMMpanelFE,
       HMMpanelRE,
       MCbinomialbeta,
       MCpoissongamma,
       MCnormalnormal,
       MCmultinomdirichlet,
       MCMCbinaryChange,
       MCMCdynamicEI,
       MCMCdynamicIRT1d,
       MCMCfactanal,
       MCMChierEI,
       MCMChlogit,
       MCMChpoisson,
       MCMChregress,
       MCMCintervention,
       MCMCirt1d,
       MCMCirtHier1d,
       MCMCirtKd,
       MCMCirtKdHet,
       MCMCirtKdRob,
       MCMClogit,
       MCMCmetrop1R,
       MCMCmixfactanal,
       MCMCmnl,
       MCMCoprobit,
       MCMCoprobitChange,
       MCMCordfactanal,
       MCMCpoisson,
       MCMCpoissonChange,
       MCMCprobit,
       MCMCprobitChange,
       MCMCquantreg,
       MCMCregress,
       MCMCregressChange,
       MCMCSVDreg,
       MCMCtobit,
       make.breaklist,
       mptable,
       plotState,
       plotChangepoint,
       plotIntervention,
       PostProbMod,
       procrustes,
       rdirichlet,
       read.Scythe,
       rinvgamma,
       riwish,
       rnoncenhypergeom,
       rwish,
       SSVSquantreg,
       testpanelGroupBreak,
       testpanelSubjectBreak,
       tomogplot,
       topmodels,
       vech,
       write.Scythe,
       xpnd
       )

S3method(print, BayesFactor)
S3method(summary, BayesFactor)
S3method(plot, qrssvs)
S3method(print, qrssvs)
S3method(print, summary.qrssvs)
S3method(summary, qrssvs)

